.btn {
	@include button($gray-5,$gray-90);
}

.btn + .btn {
	margin-left: 5px;
}

.btn__blue {
	@include button($primary-color,white);	
}

.btn__circular {
	border-radius: 50px;
}


// Custom Buttons with CSS Icons
// Buttons with specific functions
$dim: 6px;
$dim-shd: $dim + 3;
// .btn-ellipsis { margin-top: -$dim; }
.ico-ellipsis {
	width: $dim;
	height: $dim;
	border-radius: $dim;
	background-color: $gray-80;
    margin-top: $dim;
    margin-bottom: $dim / 2;
    margin-left: $dim / 2;
    margin-right: $dim / 2;

    @include box-shadow($dim-shd 0 $gray-80, -$dim-shd 0 $gray-80);
}

.btn-toggle-sidebar {
	@include button(transparent,$gray-90);
	padding: $padding-md $padding-xs;
}
.ico-hamburger-menu {
	width: 20px;
	height: 2px;
	display: block;
	background-color: $gray-70;
    // margin-top: $dim;
    // margin-bottom: $dim / 2;
    // margin-left: $dim / 2;
    // margin-right: $dim / 2;

    @include box-shadow(0 6px $gray-70, 0 -6px $gray-70);
}