.carousel {
	> .carousel-item {
		width: 300px;
		max-width: 300px;
		display: inline-block;
	}
}

.carousel .card {
	height: 80px;
	display: block;
	margin: $padding-md;
	padding-bottom: $padding-md + 30;
}

.card-footnote {
	position: absolute;
	bottom: $padding-md;
	left: $padding-md;
}

.carousel-caption {
	color: $gray-70;
	font-weight: $bold-font-weight;
}

// Slick track override
		.card {  }


.slick-track {
	margin-left: initial;

	.slick-slide {
		&:first-of-type {
			.card { margin-left: 0; }
		}
		&:last-of-type {
			.card { margin-right: 0; }	
		}		
	}
}