.card {
	padding: $padding-md;
	background-color: $gray-5;
	border-radius: $border-radius;
	min-height: 80px;
	margin-bottom: $margin-md;
	@include relative-block();

	&:last-of-type {
		margin-bottom: 0;
	}
}