.dropdown {
	position: relative;
}

.dropdown:not(.dropdown-adaptive) {
	.dropdown-menu {
		@include subtle-rounded();
		@include box-shadow($box-shadow-subtle,null);
		border-bottom-color: darken($gray-10,10%);
		background-color: white;
		padding: $padding-md;
		display: none;
		min-width: $min-width-menu;
		position: absolute;
		z-index: $zindex-dropdown;

		&.in {
			top: 100%;
			right: 0;
			display: block;
		}
	}
}

@include mobile() {
	.dropdown-adaptive {
		.dropdown-menu {
			@include subtle-rounded();
			@include box-shadow($box-shadow-subtle,null);
			border-bottom-color: darken($gray-10,10%);
			background-color: white;
			padding: 0;
			display: none;
			min-width: $min-width-menu;
			position: absolute;
			z-index: $zindex-dropdown;

			&.in {
				top: 100%;
				right: 0;
				display: block;
			}

			> .btn {
				background-color: transparent;
				color: $gray-90 !important;
				border-radius: 0;
				margin: 0;
				display: block;
				width: 100%;
				min-width: 200px;
				text-align: left;
				padding: $padding-md;

				&:hover {
					background-color: $gray-5;
					color: $gray-90;
				}
			}
		}
	}
}

@include tablet-and-desktop() {
	.dropdown-adaptive {
		.btn-ellipsis {
			display: none;
		}
	}
}