.indicator {
	display: inline-block;
	padding: 3px 5px;
	border-radius: $border-radius;
	font-size: $text-base - 2;
	font-weight: $bold-font-weight;
	text-transform: uppercase;
	background-color: $gray-70;
	color: white;
	line-height: 1;
}

.indicator-green {
	background-color: $green;
}