.list {
	@include clearfix();
	width: 100%;

	.list-item {
		float: left;
		width: 100%;
		padding: $padding-md;
		display: flex;
		position: relative;

		&:after {
			display: block;
			content: '';
			height: 1px;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $gray-10;
		}
	}

	.list-item-text {
		position: relative;
		line-height: 1.4;

		*:first-child  {
			width: 100%;
			padding-right: $padding-md;
		}

		&#{'__has-indicator'} {
			display: flex;

			@include mobile() {
				display: block;
			}

			.indicator {
				align-self: flex-start;
			}
		}
	}

	&#{'__icon'} {
		.list-item {
			padding-left: 0;
			&:after {
				left: $list-icon-width + $padding-xs;
			}

			.list-item-icon {
				height: 40px;
				width: $list-icon-width;
				@include float(left);

				> img {
					height: 40px;
				}
			}
			.list-item-text {
				@include calc(width,'100% - #{$list-icon-width + $padding-xs}');
				padding-left: $padding-xs;
			}
		}
	}

	&#{'__context'} {
		.list-item {
			padding-right: 0;
			.list-item-btns {
				@include float(left);
				text-align: right;
				width: $list-btn-width;
			}
			.list-item-text {
				@include calc(width,'100% - #{$list-btn-width + $padding-xs}');
				padding-right: $padding-xs;
			}
		}
	}

	&.list__icon.list__context {
		.list-item-text {
			$list-text-offset: $list-icon-width + $list-btn-width + ($padding-xs * 2);
			@include calc(width,'100% - #{$list-text-offset}');
		}
	}
}







