@include mobile() {
	.hidden-mobile {
		display: none !important;
	}
}

@include tablet() {
	.hidden-tablet {
		display: none !important;
	}
}

@include desktop() {
	.hidden-desktop {
		display: none !important	
	}	
}