$btn-container-max-width: 250px;

.ui-group {
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: $margin-md;
}

.ui-group-btns {
	width: auto;
	float: right;
	text-align: right;

	width: $btn-container-max-width;
}

.ui-group-text {
	padding-bottom: 3px;
	display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;

    width: calc(100% - #{$btn-container-max-width});
    width: -webkit-calc(100% - #{$btn-container-max-width});
}