body {
	background-color: $gray-90;
	font-weight: $base-font-weight;
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: $text-base;
}

.sidebar {
	background-color: $gray-5;
	@include box-shadow(1px,0,0,darken($gray-5,6%));
}