body {
	background-color: white;
	font-weight: $base-font-weight;
	font-family: $font-family-name, 'Arial', 'Helvetica', sans-serif;
	font-size: $text-base;
}

.lawconnect {
	.sidebar {
		background-color: $gray-5;
		@include box-shadow(1px 0 0 darken($gray-5,6%),null);
	}

	.nav-vertical {
		padding-left: $padding-md;
		&:before {
		    content: 'MENU GROUP';
		    padding: 8px 15px;
		    width: auto;
		    display: block;
		    font-weight: 500;
		    font-size: 90%;
		    color: $gray-50;
		}

		.nav-item {
			$hover-border-effect-width: 5px;
			&:after, &:before {
				display: none;
				content: '';
				position: absolute;
				opacity: 0;
				top: 0;
				bottom: 0;
				z-index: 1;
			}
			&:before {
				left: -$hover-border-effect-width;
				width: $hover-border-effect-width;
				background-color: lighten($nav-item-hover-bg,15%);
				border-top-left-radius: $border-radius;
				border-bottom-left-radius: $border-radius;
			}
			&:after {
				width: 1px;
				right: -1px;
				background-color: $nav-item-hover-bg;
			}

			&:hover {
				&:before, &:after {
					display: block;
					opacity: 1;
				}
			}
		}
	}
}