.header {
	display: flex;
	align-items: center;
}
.nav-toggle {
	align-self: start;
}
.header-text {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;

	> * {
	    padding-bottom: 3px;
	    display: block;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	    position: absolute;
	    left: 0;
	    right: 0;
	}
}
.header-actions {
	align-self: start;
	padding-left: $padding-md;
}

.nav-toggle .btn-toggle-sidebar {
	position: relative;
	left: -9px;
}

.header-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: $padding-lg;
	background-color: white;
	z-index: 1;

	.ui-group { margin-bottom: 0; }

	$box-shadow-offset: 2px;
	$box-shadow-element-height: $box-shadow-offset * 2;

	&:after {
		content: '';
		display: block;
		background-color: transparent;
		position: absolute;
		height: $box-shadow-element-height;
		left: -$box-shadow-offset;
		right: -$box-shadow-offset;
		bottom: -1px;
		opacity: 0;

		@include transition(all, 0.1s, $easing);
		@include box-shadow(0 -1px 0 #d8d8d8, 0 $box-shadow-offset 3px rgba(0,0,0,0.1) inset);
	}

	&.in {
		// overflow: hidden;
		&:after {
			@include transition(all, 0.1s, $easing);
			opacity: 1;
		}
	}
}