// Since the scale of the CSS is just small, I'll just place anything related to layout/positioning here
.grid-row {
	display: block;
	clear: both;
	position: relative;
	@include clearfix();
}

body.template {
	&#{'__full'} {
		&:not(&#{'template__sidebar-left'}),
		&:not(&#{'template__sidebar-right'}) {
			padding: $padding-lg;
		}

	}

	@include tablet-and-desktop() {
		&#{'__sidebar-right'} {
			padding-right: $sidebar-width;
		}

		&#{'__sidebar-left'} {
			width: calc(100% - #{$sidebar-width});
			width: -webkit-calc(100% - #{$sidebar-width});
			padding-left: $sidebar-width;

			.header-fixed {
				left: $sidebar-width + 1; // 1px for the border
			}		
		}
	}
}

.main {
	padding: $padding-lg;
}