.sidebar-logo {
	@include relative-block();
	width: $sidebar-width;

	margin-top: $margin-lg;
	margin-bottom: $margin-lg * 2;

	.logo {
		@include relative-block();
		width: $sidebar-width - 50;
		height: auto;
		margin: auto auto;
	}
}

.sidebar {
	width: $sidebar-width;
	background-color: white;

	&#{'__collapsible'} {
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: 1000;
		@include mobile() {
			left: -$sidebar-width - 1;
		}
		@include tablet-and-desktop() {
			left: 0;
		}
	}
}

.body-freeze {
    overflow: hidden;

    #sidebar {
    	overflow-y: auto;
    }
}

body {
	@include tablet-and-desktop() {
		@include transform(none, !important);
	}
	overflow-x: hidden;

	&:not(.body-freeze) {
		// @include transform(none, !important);	
	}
}

.overlay-sidebar {
	display: none;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 999;

	@include tablet-and-desktop() {
		display: none;
	}
}