.nav {
	@include relative-block();

	&.nav-horizontal {
		.nav-item {
			display: inline-block;
		}
	}

	&.nav-vertical {
		.nav-item {
			display: block;
		}

		& + & {
			&:after {
				content: '';
				background-color: $gray-15;
				position: absolute;
				height: 1px;
				left: $padding-md;
				right: 0;
				top: -$margin-lg / 2;
			}
		}
	}

	& + .nav {
		margin-top: $margin-lg;
	}
}

.nav-item {
	position: relative;
	padding: $padding-xs $padding-md;
	font-weight: $nav-font-weight;
	@include reset-link();

	&:hover {
		color: white;
		background-color: $nav-item-hover-bg;
	}
}