// Headings
h1,.h1 { font-size: $text-h1; }
h2,.h2 { font-size: $text-h2; }
h3,.h3 { font-size: $text-h3; }
h4,.h4 { font-size: $text-h4; }
h5,.h5 { font-size: $text-h5; }
h6,.h6 { font-size: $text-h6; }

h1,.h1, h2,.h2,
h3,.h3, h4,.h4,
h4,.h5, h6,.h6 {
	.small, small {
		font-size: $text-small;
		color: $gray-70;
	}
}

.section-header {
	margin-top: $margin-md * 2;
	margin-bottom: $margin-md;
	padding-bottom: $padding-xs;
	border-bottom: 1px solid $gray-10;
}

// Hero
.text-hero {
	font-size: $text-hero;
}

// Body Text
p {
	font-size: $text-base;
	line-height: 1.3;
}

// Modifiers
.text-lg {
	font-size: $text-base + 2;
}

.text-xlg {
	font-size: $text-base + 4;
}