// Law Connect Colors

// Theme
$active_theme:  	'lawconnect';

// RGB Colors
$primary-color: 	#0e5fe3;
$green:				#2cc780;
// $secondary-color: 	'';
// $tertiary-color: 	'';

// Grays
$base-gray:			rgb(0,0,0);
$gray-5:			lighten($base-gray,95%) !default;
$gray-10:			lighten($base-gray,90%) !default;
$gray-15:			lighten($base-gray,85%) !default;
$gray-25:			lighten($base-gray,75%) !default;
$gray-50:			lighten($base-gray,50%) !default;
$gray-70:			lighten($base-gray,30%) !default;
$gray-80:			lighten($base-gray,20%) !default;
$gray-90:			lighten($base-gray,10%) !default;

// --- if extra colors are needed -- //
$text-color:		$gray-80;

// Typography
$text-base:			14px !default;
$text-hero: 		60px !default;

$text-h1: 			28px !default;
$text-h2: 			24px !default;
$text-h3: 			20px !default;
$text-h4: 			16px !default;
$text-h5: 			14px !default;
$text-h6: 			12px !default;

$text-small: 		80% !default;


$base-font-weight: 	400 !default;
$bold-font-weight:  600 !default;
$nav-font-weight: 	$bold-font-weight !default;

$font-family-name: 	'Nunito';

// Spacing
$padding-md:		15px !default;
$padding-xs:		10px !default;
$padding-lg:		30px !default;

$margin-md:			15px !default;
$margin-xs:			10px !default;
$margin-lg:			30px !default;

$list-btn-width:	60px !default;
$list-icon-width:	60px !default;

// Border Radius
$border-radius: 	3px !default;
$border-radius-plus:6px !default;

// Box Shadows
$box-shadow-subtle: 0 2px 2px rgba(0,0,0,0.2) !default;

// Navigation
$nav-item-hover-bg:	lighten($primary-color,5%);
$sidebar-zindex:	1000 !default;
$overlay-zindex: 	$sidebar-zindex - 1;

// Buttons
$btn-trans-speed:	0.2s !default;

// Dropdowns
$min-width-menu: 	200px !default;
$zindex-dropdown: 	1200 !default;

// Avatars
$avatar-md:			40px !default;
$avatar-xs:			20px !default;
$avatar-lg:			60px !default;
$avatar-xlg:		90px !default;

// Transitions
$easing: 			cubic-bezier(.58,.24,.3,.94);

// Media Queries
// We can consider device pixel rations and a whole lot of combinations but for demo purposes I'll be just putting a few
$tablet-width: 		768px;
$desktop-width: 	1024px;

// Layouts
$sidebar-width: 	200px !default;