@mixin relative-block {
	display: block;
	clear: both;
	position: relative;
}

@mixin float($pos) {
  display: block;
  float: $pos;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin reset-link {
	text-decoration: none;
	color: inherit;
}

@mixin clearfix {
    display: block;
    position: relative;
    &:before {
        content: '';
        display: table;
    }

    &:after {
        content: '';
        display: table;   
    }
}

@mixin transition($prop: all, $time: 0.2s, $easing: ease-in-out) {
    -webkit-transition: $prop $time $easing;
    -moz-transition:    $prop $time $easing;
    -ms-transition:     $prop $time $easing;
    -o-transition:      $prop $time $easing;
    transition:         $prop $time $easing;
}

@mixin transform($params,$important) {
    -webkit-transform: none $important; /* Safari and Chrome */
       -moz-transform: none $important; /* Firefox */
        -ms-transform: none $important; /* IE 9 */
         -o-transform: none $important; /* Opera */
            transform: none $important;
}

@mixin box-shadow($params1, $params2) {
  @if $params2 {
    -webkit-box-shadow: $params1,$params2;
    -moz-box-shadow: $params1,$params2;
    box-shadow: $params1,$params2;
  }
  @else {
    -webkit-box-shadow: $params1;
    -moz-box-shadow: $params1;
    box-shadow: $params1;
  }
}

@mixin subtle-rounded {
    border: 1px solid $gray-10;
    border-radius: $border-radius;
}

@mixin button($color: $red, $text_color: $white) {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 8px 15px;
  color: $text_color !important;
  font-weight: $bold-font-weight;
  background-color: $color;
  border-radius: $border-radius;
  border: none;
  @include transition(all,$btn-trans-speed,$easing);

  &:hover {
    text-decoration: none;
    background: darken($color, 5%);
    color: darken($color, 10%);
    @include transition(all,$btn-trans-speed,$easing);
  }

  &:active {
    background-color: darken($color, 15%);
    color: darken($color, 20%);
    @include transition(all,$btn-trans-speed,$easing);
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}


@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet-and-desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}