<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<meta author="Eric de Felix">

		<title>LawConnect: List Page</title>

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
		<link rel="stylesheet" href="styles.css">

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body class="lawconnect lc-template template__full template__sidebar-left" data-sticky-adjust>

		<!-- Collapsible sidebar -->
		<aside class="sidebar sidebar__collapsible" data-collapsible="true" id="sidebar">
			<a href="/" class="sidebar-logo">
				<img class="logo" src="images/logo.svg" alt="Law Connect">
			</a>

			<section id="menuDom">
				<nav class="nav nav-vertical" v-for="menugroup in menu">
					<a class="nav-item" href="#" v-for="menuitem in menugroup.menu_group" aria-role="navigation">
						<i class="ico-file"></i> {{ menuitem.menu_item }}
					</a>
				</nav>
			</section>
		</aside>
		<!-- Collapsible sidebar -->

		<!-- Fixed Header -->
		<section class="header header-fixed">
			<div class="nav-toggle hidden-desktop hidden-tablet">
				<button type="button" class="btn-toggle-sidebar" data-toggle="sidebar" data-target="#sidebar">
					<i class="ico-hamburger-menu"></i>
				</button>
			</div>
			<div class="header-text">
				<h2 class="h2">The quick brown fox jumps over the lazy dog who's also known as Doge</h2>
			</div>
			<div class="header-actions">
				<div class="dropdown dropdown-adaptive" aria-expanded="true">
					<button type="button" class="btn btn-ellipsis" data-toggle="dropdown">
						<i class="ico ico-ellipsis"></i>
					</button>
					<div class="dropdown-menu" style="min-width: 235px;">
						<button type="button" class="btn btn__blue">Notice me senpai!</button>
						<button type="button" class="btn">I'm here</button>
					</div>
				</div>
			</div>
		</section>
		<!-- Fixed Header -->

		<!-- Body -->
		<main class="main">
			<div class="grid-container">

				<!-- Carousel -->
				<section class="grid-row">
					<div class="grid-12">
						<h4 class="section-header">Sick Cycle Carousel</h4>
						<div class="list-carousel">				
							<div class="carousel" id="carousel">
								<div class="carousel-item" v-for="index in 4">
									<article class="card">
										<p class="carousel-caption text-lg">Cat ipsum dolor sit amet, hunt anything that moves or hopped up on goofballs hide when guests come over.</p>
										<time class="card-footnote text-muted">20/11/2019</time>
									</article>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Carousel -->

				<!-- List -->
				<section>
					<h4 class="section-header">And the list goes on like this...</h4>
					<ul class="list list__icon list__context" id="listDom">
						<li class="list-item" v-for="listitem in list">
							<div class="list-item-icon"><img class="img-responsive" src="images/doc.svg" alt="Document"></div>
							<div class="list-item-text list-item-text__has-indicator">
								<h4>{{ listitem.text }}
									<small class="hidden-mobile"><br>{{ listitem.subtext }}</small>
									<small class="text-muted hidden-desktop hidden-tablet"><br>Modified: 22/11/2018 Eric de Felix</small>
								</h4>
								<span class="indicator indicator-green">Active</span>
							</div>
							<div class="list-item-btns">
								<div class="dropdown" aria-expanded="false">
									<button type="button" class="btn btn-ellipsis" data-toggle="dropdown">
										<i class="ico ico-ellipsis"></i>
									</button>
									<div class="dropdown-menu text-center">
										<em>Place actions here</em>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</section>
				<!-- List -->
			</div>
		</main>
		<!-- Body -->
		

		<!-- Scripts -->
		<!-- build:remove -->
		<script src="../node_modules/vue/dist/vue.min.js"></script>
		<script src="../node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../node_modules/slick-carousel/slick/slick.js"></script>
		<script src="../node_modules/velocity-animate/velocity.min.js"></script>
		<script src="../node_modules/velocity-animate/velocity.ui.min.js"></script>
 		<script src="app.js"></script>
 		<!-- /build -->

		<!-- build:template
		<script src="scripts.js"></script>
		/build -->
	</body>
</html>